$dark-color: #0E2626;
$light-color: white;
$highlight-color: #D9A404;

$font-weigths:(
    "light":100,
    "regular":200,
    "medium":500,
    "bold":900
);

$font-families:(
    "light":neue-haas-unica,
    "regular": neue-haas-unica,
    "medium":le-monde-livre,
    "bold":le-monde-livre
);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: $dark-color;
}

@function get-font-weight($weight-name){
    @return map-get($font-weigths,$weight-name);
}

@function get-font-family($weight-name){
    @return map-get($font-families,$weight-name);
}

@mixin transition-ease{
    transition: all 0.5s ease-in-out;
}

@function set-text-color($color){
    @if(lightness($color) > 40%) {
        @return $dark-color;
    }
    @else{
        @return $light-color;
    }
}

@mixin media-md{
    @media screen and (min-width: 768px){
        @content;
    }
}
@mixin media-lg{
    @media screen and (min-width: 1024px){
        @content;
    }
}
@mixin media-xl{
    @media screen and (min-width: 1600px){
        @content;
    }
}

@mixin section-title{
    height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-family: get-font-family(bold);
    font-weight: get-font-family(bold);

    a{
        padding-bottom: 1rem;
        font-family: get-font-family(regular);
        font-weight: get-font-family(regular);
    }

    h2{
        font-size:2rem;
        color: $dark-color;
    }

    p {
        padding-top: 1rem;
        font-size: 1.5rem;
        color: $highlight-color;
    }  
}

@mixin section-not-mobile{
    margin: 0 auto 0 15rem;
}