.home{
    height: 100%;
    padding-top: 40vh;
    overflow: hidden;
    align-items: center;
    text-align: center;
    background: $light-color;

    &_name{
        font-size: 3rem;
        font-family: get-font-family(bold);
        font-weight: get-font-weight(bold);
        padding-bottom: 1rem;
        margin-top: 1rem;
    }
}