.projects {
   z-index: 2;
   position: relative;
   margin: 0 auto 0 auto;

   &_filter {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      flex-wrap: wrap;
      border-bottom: solid 1px;
      padding: 0 2.5vw;

      .tag {
         margin: 0.5rem 0;
         margin-right: 1rem;
         transform: none;
         list-style-type: none;
         cursor: pointer;
      }
      .selected {
         font-weight: bold;
      }
   }

   &_title {
      padding: 0 2.5vw;
      @include page-title;
      color: $dark-blue;

      h1 {
         font-size: 1.5rem;
         padding-bottom: 1rem;
      }

      a {
         @include font(light);
         z-index: 3;
         padding-bottom: 1rem;
      }

      p {
         @include font(light);
         font-size: 1.5rem;
         padding-bottom: 1rem;
      }
   }

   &_items {
      padding: 0 2.5vw;
      width: 100vw;
      display: flex;
      flex-direction: column;
      flex-wrap: start;
      margin: 0 auto 0 auto;
      align-content: space-around;
      justify-content: space-around;
      color: $dark-color;
   }

   &_item {
      position: relative;
      cursor: pointer;
      border-bottom: solid 1px;
      padding: 1rem 0;
      padding-bottom: 2rem;

      img {
         width: 100%;
         object-fit: cover;
         -webkit-filter: grayscale(1);

         &:hover {
            -webkit-filter: grayscale(0);
            filter: none;
         }
      }

      &_details {
         width: 100%;
         height: 100%;
         //position: relative;
         padding: 1rem 0;
         //background: $dark-blue;
         display: flex;
         justify-content: center;
         flex-direction: column;

         h4 {
            @include font(bold);
            font-size: 1.5rem;
            padding: 1rem 0;
            color: $dark-blue;
            top: 0;
         }

         p {
            @include font(light);
            margin: 0;
            padding: 0;
         }

         &_tags {
            flex-direction: row;
            display: flex;
            flex-wrap: wrap;
         }
      }
   }
}

.outer-post {
   display: flex;
   flex-direction: column;
   position: relative;

   .post {
      display: flex;
      flex-direction: column-reverse;
      p {
         @include font(regular);
         line-height: 1.5rem;
         padding-bottom: 1rem;
         font-size: 1rem;
      }

      &-overview {
         border-bottom: solid 1px;
         padding: 1rem;
         width: 100vw;

         .overview-title-this {
            display: none;
         }

         &-text {
            border-top: solid 1px;
            &-tags {
               flex-direction: row;
               display: flex;
               flex-wrap: wrap;
            }

            &-link {
               display: inline-flex;
               p,
               svg {
                  color: $dark-blue;
                  padding: 0;
                  @include font(medium);
               }

               p {
                  padding-left: 0.5rem;
               }
            }

            &-phrase {
               padding-top: 1rem;
               text-transform: lowercase;
            }

            .tag {
               margin-right: 0.2rem;
               margin-top: 1rem;
            }

            p {
               padding-bottom: 0;
            }
         }
      }
      &-content {
         width: 100vw;
         padding: 1rem;

         h1 {
            padding: 2rem 0;
            @include font(bold);
            @include gradient-font;
            color: $dark-blue;
            font-size: 1.5rem;
         }

         h2 {
            @include font(medium);
            font-size: 1.5rem;
            padding: 2rem 0;
         }

         img {
            max-width: 100%;
            height: auto;
         }

         a {
            text-decoration: underline;
         }
      }
   }
}

#recents-below-overview {
   display: none;
}

.recent-projects {
   margin: 2rem 0;
   width: 100%;
   position: relative;
   border-bottom: solid 1px;
   border-top: solid 1px;

   @include recent-project-vertical;
}

.projects_title_post {
   @extend .projects_title;
   height: 10vh;

   a {
      padding-bottom: 0;
   }
}
