.projects{
    padding-bottom: 2rem;
    z-index: 2;
    position: relative;
    margin: 3vh auto 0 auto;

    &_title{
        @include page-title;

        h1 {
            font-size:1.5rem;
            padding-bottom:1rem;
        }

        a{
            @include font(light);
            z-index: 3;
            padding-bottom:1rem;
        }

        p{
            @include font(light);
            font-size:1.5rem;
            padding-bottom:1rem;
        }
    }
    
    &_items{
        width: 90vw;
        margin: 5rem auto 0 auto;
        display:flex;
        flex-direction: column;
        flex-wrap:wrap;
        align-content: space-around;
        justify-content: space-around;
        // display:grid;
        // grid-template-columns: 2fr;
        // grid-gap: 3rem;
        color: $dark-color;

    }

    &_item{
        position: relative;
        //overflow: hidden;
        //display: grid;
        //grid-template-rows: 70% 2fr;
        padding-bottom:2vh;
        cursor: pointer;

        img{
            width:100%;
            height: 100%;
            object-fit: cover;
        }

        &_details{
            width:100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            padding: 1rem;
            //background: $highlight-color;
            display: flex;
            justify-content: center;
            flex-direction: column;

            h4{
                @include font(medium);
                font-size: 1rem;
                margin: 0.25rem 0;
            }

            p{
                @include font(light);
                margin: 0.25rem 0;
            }

            &_tags{
                flex-direction: row; 
                display:flex;

                div{
                    @include font(light);
                    position:relative;
                    margin-right: 1rem;
                    margin-top: 0.5rem;
                    z-index: 10;
    
                    &:hover{
                        background-color: rgba($light-color, .3);
                    }
                }

            }
        }

        &::after{
            //content: '';
            position: absolute;
            top:100%;
            left: 0;
            height: 100%;
            width: 100%;
            //background: $highlight-color;
            opacity: 0;
            @include transition-ease;
        }
        .projects_btn{
            opacity: 1;
        }

        &:hover{
            &::after{
                top: 0;
                opacity: 0.9;
            }
        }
    }
}

.post-content{
    width: 90vw;
    margin: 0 auto 0 auto;

    h1{
        padding: 2rem 0;
        @include font(bold);
        font-size: 2rem;
    }

    h2{
        @include font(medium);
        padding: 2rem 0;
    }   

    p{
        @include font(regular);
        line-height: 1.5rem;
        padding-bottom: 1rem;
        font-size:1rem;
    }

    img{
        max-width: 100%;
        height:auto;
    }

    a{
        text-decoration: underline;
    }
}

.projects_title_post{
    @extend .projects_title;
    height: 10vh;

    a{
        padding-bottom: 0;
    }
}