@include media-md {
   #app {
      background-attachment: fixed;
      background-color: rosybrown;
   }

   .menu-btn {
      visibility: hidden;
   }

   .logo {
      visibility: visible;
      font-size: 1.5rem;
   }

   .navbar {
      z-index: 3;
      position: fixed;
      width: 20vw;
      height: 100vh;

      #social {
         text-align: right;
         position: absolute;
         bottom: 0;
         padding: 1rem 0 2rem 1rem;
         display: flex;
         flex-direction: row;
         justify-content: flex-start;

         .icon {
            padding-right: 1rem;
            cursor: pointer;

            svg {
               color: $dark-blue;
            }
         }
      }
   }

   .nav {
      width: 100%;
      .menu-nav {
         align-items: flex-start;
         justify-content: left;
         padding-top: 0.5rem;
         display: inline-block;

         &-main,
         &-sub {
            display: inline-block;
         }

         &_link {
            padding: 2rem 0;
         }
      }
   }

   .cv {
      .jobs {
         width: 70vw;
         @include section-not-mobile;

         &_item {
            padding: 2rem 0;

            &_year {
               margin: 0 2rem 0 0;
               text-align: left;
               font-size: 1.2rem;
               width: 10vw;
            }

            &_content {
               margin: 0 0 0 2rem;
               padding-left: 2rem;
               font-size: 1.2rem;
            }
         }
      }
   }

   .projects {
      z-index: 0;

      &_filter {
         padding-left: 0;
      }

      &_items {
         //grid-template-columns: repeat(2,1fr);
         flex-direction: column;
         justify-content: start;
         width: 80vw;
         margin-left: 0;
         padding: 0 0 0 2.5vw;
      }

      &_item {
         width: 100%;
         display: flex;

         h4 {
            font-size: 1.7rem;
            margin-top: 10%;
            position: relative;
            width: 100%;
            padding-right: 2.5vw;
         }

         &::after {
            width: 45%;
         }

         img {
            margin-left: 0;
            flex-basis: 0px;
            flex-grow: 1;
            flex-shrink: 1;
         }

         &_link {
            margin: 0;
            padding: 0;
         }

         &_details {
            padding-bottom: 0;
            padding-right: 2.5vw;
            //position: absolute;
            top: 0;
            margin-left: 1rem;
            flex-basis: 0px;
            flex-grow: 1;
            flex-shrink: 1;

            a {
               margin-right: 1rem;
            }
         }
      }

      .text-secondary {
         font-size: 3rem;
      }
   }

   .projects_title {
      align-items: center;
      margin-bottom: 2rem;

      h1 {
         font-size: 2rem;
      }
   }

   .outer-post {
      margin-left: 20vw;
      margin-top: 0;
      .post {
         display: flex;
         flex-direction: row;
         &-overview {
            width: 30vw;
            margin-top: 1rem;
            padding: 2rem;
            position: sticky;
            align-self: flex-start;
            top: 0;

            &-tags {
               row-gap: 0.5rem;
               padding-top: 1rem;
            }

            .tag {
               margin-top: 0;
            }

            &-link {
               padding-bottom: 1rem;
            }

            p {
               text-transform: lowercase;
               padding-bottom: 1rem;
            }
         }

         &-content {
            width: 50vw;
            font-size: 1.2rem;

            h1 {
               font-size: 1.5rem;
               line-height: 2rem;
            }
            //@include section-not-mobile;
         }
      }
   }

   header {
      background: none !important;
      z-index: 3;
      position: relative;
   }

   .home {
      &_infos {
         margin: 0;

         @include section-not-mobile;
         margin-left: 20vw;

         &-section {
            &-title {
               padding-left: 0;
            }
            .about {
               padding-right: 2.5vw;
               display: inline-flex;
               img {
                  width: 100%;
                  display: inline-block;
               }

               p {
                  width: 50%;
               }
            }

            .tags {
               width: 70%;
               .tag {
                  margin: 1rem;
               }
            }
         }

         #social {
            display: none;
         }
      }
   }

   .recent-projects {
      padding: 1rem;

      &-project {
         max-width: 30vw;
         height: calc(30vw / 1.5);
      }
   }
}

@include media-lg {
   #app {
      background-color: gold;
   }

   .logo {
      font-size: 2rem;
   }

   .projects {
      &_items {
         grid-template-columns: repeat(1, 1fr);
      }
   }

   .cv {
      .jobs {
         width: 70vw;
         h1 {
            margin: 2rem 0 2rem 0;
         }

         &_item {
            display: grid;
            grid-template-columns: 25% 1fr;

            &_year {
               text-align: right;
               margin: 0 2rem auto 0;
            }

            &_content {
               padding-left: 0;
            }
         }
      }
   }

   .home {
      &_infos {
         &-section {
            .about {
               img {
                  width: 50%;
               }
            }
         }
      }
   }
}

@include media-xl {
   #app {
      background-color: fuchsia;
   }
   .projects_bio-image {
      height: 50vh;
   }

   .post-content {
      width: 50vw;
   }
}
