@include media-md{
    .menu-btn{
        visibility: hidden;
    }

    .nav{
        visibility: visible;

        .menu-nav{
            display: block;
            transform:translateY(0);
            height: 100%;
            background:transparent;
            text-align: right;

            &_item{
                display:inline;
                padding-right: 1.5rem;

            }

            &_link{
                font-size: 1.5rem;
            }
        }
    }

    .cv_bio{
        font-size: 1.5rem;
    }

    .cv{
        .jobs{
            width: 70vw;

            &_item{
                &_year{
                    margin: 0 2rem 0 0;
                    text-align: left;
                }
                
                &_content{
                    margin: 0 0 0 2rem;
                    padding-left: 2rem;
                }
            }
        }
    }

    .projects{
        &_bio-image{
            height:40vh;
        }

        &_items{
            //grid-template-columns: repeat(2,1fr);
            margin: 10rem auto 0 auto;
        }

        &_item{
            display: grid;
            grid-template-columns: 60% 1fr;
            grid-template-rows: none;

            &_details{
                display:flex;
                flex-direction: column;
                justify-content: center;
            }
        }

        .text-secondary{
            font-size: 3rem;
        }
    }
    .post-content{
        width: 60vw;
    }
}

@include media-lg{
    .projects{

        &_items{
            grid-template-columns: repeat(1,1fr);

        }

    }

    .cv{
        .jobs{
            width: 70vw;
            h1{
                margin: 2rem 0 2rem 0;
            }

            &_item{
                display:grid;
                grid-template-columns:25% 1fr;

                &_year{
                    text-align: right;
                }

                &_content{
                    padding-left: 0;
                }
            }

           
        }
    }
}

@include media-xl{
    .projects_bio-image{
        height: 50vh;
    }
}