@include media-md {
   #app {
      background-attachment: fixed;
   }

   .menu-btn {
      visibility: hidden;
   }

   .logo {
      visibility: visible;
   }

   .navbar {
      z-index: 3;
      position: fixed;
      width: 15vw;
   }

   .nav {
      width: 100%;
      .menu-nav {
         align-items: flex-start;
         justify-content: left;
         padding-top: 0.5rem;
         display: inline-block;

         &-main,
         &-sub {
            display: inline-block;
         }

         &_link {
            font-size: 1.5rem;
            padding: 2rem 0;
         }
      }
   }

   .cv {
      .jobs {
         width: 70vw;
         @include section-not-mobile;

         &_item {
            padding: 2rem 0;

            &_year {
               margin: 0 2rem 0 0;
               text-align: left;
               font-size: 1.2rem;
               width: 10vw;
            }

            &_content {
               margin: 0 0 0 2rem;
               padding-left: 2rem;
               font-size: 1.2rem;
            }
         }
      }
   }

   .projects {
      z-index: 0;

      &_items {
         //grid-template-columns: repeat(2,1fr);
         flex-direction: column;
         justify-content: start;
         width: 80vw;
         @include section-not-mobile;
      }

      &_item {
         width: 100%;
         margin-right: 3%;
         padding: 5% 0;

         &::after {
            width: 45%;
         }

         img {
            width: 44%;
            margin-left: 0;
         }

         &_link {
            margin: 0;
            padding: 0;
         }

         &_details {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-left: 35%;
            width: 66%;
            position: absolute;
            top: 0;

            h4 {
               font-size: 1.7rem;
               margin-top: 10%;
               position: relative;
               width: 100%;
            }

            &_infos {
               margin-left: 10%;
            }

            a {
               margin-right: 1rem;
            }
         }
      }

      .text-secondary {
         font-size: 3rem;
      }
   }

   .projects_title {
      align-items: center;
      margin-bottom: 2rem;

      h1 {
         font-size: 2rem;
      }
   }

   .outer-post {
      margin-left: 15vw;
      margin-top: 0;
      .post {
         display: flex;
         flex-direction: row;
         &-overview {
            width: 30vw;
            padding: 2rem;
            margin-left: 5vw;
            margin-top: 5vw;
            position: sticky;
            align-self: flex-start;
            top: 0;

            &-link {
               padding-bottom: 1rem;
            }

            p {
               padding-bottom: 1rem;
            }

            &-phrase {
               padding-top: 1rem;
            }
         }

         &-content {
            width: 50vw;
            font-size: 1.2rem;

            h1 {
               font-size: 2rem;
            }
            //@include section-not-mobile;
         }
      }
   }

   header {
      background: none !important;
      z-index: 3;
      position: relative;
   }

   .home {
      &_infos {
         margin: 0;

         @include section-not-mobile;

         &-section {
            p {
               width: 50%;
            }

            .about {
               img {
                  width: 30%;
                  display: inline-block;
               }
            }

            .tags {
               width: 70%;
               .tag {
                  margin: 1rem;
               }
            }
         }
      }
   }

   .recent-projects {
      padding: 1rem;

      &-project {
         max-width: 30vw;
         height: calc(30vw / 1.5);
      }
   }
}

@include media-lg {
   .projects {
      &_items {
         grid-template-columns: repeat(1, 1fr);
      }
   }

   .cv {
      .jobs {
         width: 70vw;
         h1 {
            margin: 2rem 0 2rem 0;
         }

         &_item {
            display: grid;
            grid-template-columns: 25% 1fr;

            &_year {
               text-align: right;
               margin: 0 2rem auto 0;
            }

            &_content {
               padding-left: 0;
            }
         }
      }
   }

   .home {
      &_infos {
         &-section {
            .about {
               img {
                  width: 10%;
               }
            }
         }
      }
   }
}

@include media-xl {
   .projects_bio-image {
      height: 50vh;
   }

   .post-content {
      width: 50vw;
   }
}
