@import 'config';
@import 'home';
@import 'menu';
@import 'cv';
@import 'portfolio';
@import 'responsive';

body{
    background: $light-color;
    color:set-text-color($light-color);
    height: 100vh;
    font-family: neue-haas-unica, sans-serif;
    font-weight: get-font-weight(regular);
    //font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1;
}

h1,h2,h3{
    font-weight:get-font-weight(regular);
}

a{
    color: set-text-color($light-color);
    text-decoration: none;
}

g-link{
    color:set-text-color($light-color);
    text-decoration: none;
}

.text-secondary {
    color: $highlight-color;
}

header{
    position: fixed;
    z-index:2;
    width: 100vw;
    padding: 1rem;
    height: 3rem;
    background: $light-color;
}

main {
    height:100%;
    width:100%;

    .social-icons{
        position: fixed;
        bottom: 1rem;
        left: 1rem;

        a {
            padding: 0.4rem;
            @include transition-ease;

            &:hover{
                color:$highlight-color;
            }
        }

    }
}

footer {
    font-size: 1rem;
    position: fixed;
    bottom: 0.4rem;
    right: 1rem;
    text-align: right;
    padding: 1rem;
    color: set-text-color($primary-color);
}