.home {
   //height: 100%;
   position: relative;
   width: 100vw;
   // height: 100vh;

   &_title {
      @include page-title;
      // align-items:center;
      // margin: 3vh auto 6vh auto;

      h1 {
         font-size: 2rem;
         @include font(bold);
         @include gradient-font;
      }
   }

   &_infos {
      margin: 0 auto 0 auto;
      width: 100vw;
      //width: 60vw;
      align-items: center;
      text-align: left;

      #social {
         text-align: right;
         padding: 2.5vw;
         padding-top: 2rem;
         display: flex;
         flex-direction: row;
         justify-content: flex-end;

         .icon {
            padding-left: 2rem;
         }
      }

      &-section {
         &-title {
            padding: 2.5vw;
            font-size: 1.5rem;
            border-bottom: 1px solid;
            margin-bottom: 1rem;
            border-color: black;

            &.projects-section-title {
               border: none;
               margin-bottom: 0;
            }
         }

         .about,
         .publications {
            padding: 0 1rem;

            img {
               display: none;
               object-fit: cover;
               margin-right: 2rem;
            }

            p {
               text-transform: none;
               padding-bottom: 2rem;
            }

            a {
               text-decoration: underline;
            }
         }

         .tags {
            display: flex;
            flex-wrap: wrap;

            .tag {
               @include font(bold);
               position: relative;
               margin: 0.7rem;
               z-index: 10;
               cursor: pointer;

               &:hover {
                  background-color: rgba($light-color, 0.3);
               }
            }
         }

         .recent-projects {
            border-top: none;
            margin-top: 0;
            padding-left: 0;
         }

         p {
            @include font(regular);
            line-height: 1.5rem;
            font-size: 1rem;
            text-transform: lowercase;
         }
      }
   }
}

canvas {
   height: 100vh;
   position: absolute;
   display: block;
   overflow: hidden;
   z-index: 0;
}
